* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(50%, 0);
  width: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.7s, visibility 0.7s;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: rgb(239, 55, 55);
  border-radius: 50%;
  animation: loading 0.85s ease infinite;
}

.page--hidden {
  opacity: 0;
  visibility: hidden;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
/* body background */
body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/* navigation style */
nav {
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

nav section.logo h2 {
  color: white;
  padding-left: 250px;
  font-size: 18px;
}

nav section.links {
  position: absolute;
  right: 0;
  top: 4.5vh;
}

nav section.links ul {
  padding-right: 50px;
  list-style-type: none;
  display: flex;
}

nav section.links ul li:hover {
  border-bottom: 2px solid rgb(207, 231, 74);
  transition: 0.1s all ease-in-out;
}

nav section.links ul li a {
  text-decoration: none;
  color: #f8dd44;
  font-weight: bold;
  padding: 0 18px;
}

main {
  position: relative;
  width: 90%;
  height: 85vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  margin-bottom: 50px;
  overflow-y: auto;
}

main::-webkit-scrollbar {
  display: none;
}

main section.selection {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid #e01b44;
}

main section.selection .firewall,
main section.selection .sophos {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 50%;
  padding: 15px 0;
  border-radius: 10px 0 0 0;
}

main section.selection .sophos {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 50%;
  padding: 15px 0;
  border-radius: 0 10px 0 0;
}

main section.selection .firewall:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

main section.selection .sophos:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

main section.content {
  width: 90%;
}

main section.content .about h1 {
    font-size: 30px;
  margin-top: 20px;
  color: white;
  text-align: left;
}

main section.content .about p {
  margin-top: 10px;
  color: white;
  text-align: left;
  line-height: 25px;
}

main section.content .about h2 {
    color: white;
    text-align: left;
    font-size: 25px;
    margin-top: 5px;
}

main section.content .hero img{
    outline: auto;
    margin: 20px 0;
    max-width: 50%;
}