* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* loader animation */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(50%, 0);
  width: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.7s, visibility 0.7s;
}

.loader::after {
  content: '';
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: rgb(239, 55, 55);
  border-radius: 50%;
  animation: loading 0.85s ease infinite;
}

.page--hidden {
  opacity: 0;
  visibility: hidden;
}

@keyframes loading {
  from { transform:  rotate(0turn) ;}
  to { transform:  rotate(1turn) ;}
}
/* body background */
body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* navigation style */
nav {
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

nav section.logo h2 {
  color: white;
  padding-left: 250px;
  font-size: 18px;
}

nav section.links {
  position: absolute;
  right: 0;
  top: 4.5vh;
}

nav section.links ul {
  padding-right: 50px;
  list-style-type: none;
  display: flex;
}

nav section.links ul li:hover {
  border-bottom: 2px solid rgb(207, 231, 74);
  transition: 0.1s all ease-in-out;
}

nav section.links ul li a {
  text-decoration: none;
  color: #f8dd44;
  font-weight: bold;
  padding: 0 18px;
}
/* main content styling */
main {
  position: relative;
  width: 90%;
  height: 83vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.10);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 10px;
}

main section.form {
  width: 400px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(130deg, rgba(228,30,69,1) 0%, rgba(91,172,195,1) 81%);
  border-radius: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

main section.form h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 15%;
  margin-bottom: 15px;
  color: white;
}

main section.form p {
  width: 80%;
  color: white;
  margin-bottom: 30px;
}

main section.form input[type="text"], main section.form input[type="email"], textarea {
  width: 90%;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 2px solid white;
  color: white;
}

main section.form textarea {
  resize: none;
}

main section.form input[type="text"]::placeholder, main section.form input[type="email"]::placeholder, textarea::placeholder {
  color: white;
}

main section.form input[type="text"].message {
  height: 100px;
  word-break: break-all;
}

main section.form button{
  width: 100px;
  padding: 8px 0;
  background-color: #f8dd44;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  color: black;
}

main section.form button:hover {
  background: rgba(228,30,69,1);
  border: 1px solid #f8dd44;
  color: white;
  transition: .5s;
}

main section.social-media {
  width: 500px;
  height: 200px;
  background: linear-gradient(130deg, rgba(91,172,195,1)  0%,  rgba(228,30,69,1)81%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
}

main section.social-media h2{
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 15px;
  color: white;
  letter-spacing: 2px;
}

main section.social-media ul {
  list-style-type: none;
  width: 90%;
  text-align: left;
}

main section.social-media ul li {
  margin-bottom: 10px;
}

main section.social-media ul li i {
  margin-right: 5px;
}

main section.social-media ul li a {
  text-decoration: none;
  margin-left: 5px;
}
